<!DOCTYPE html>
<html>
<head>
    {%load static%}
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <title>Home - Sistema de Estoque</title>
</head>
<body>
    <div id="background-dark-theme">
    <header class="header-home">
        <h1>Stock Manager</h1>
        <ul>
        <li><a href="">Login</a></li>
        </ul>
    </header>
    <main>
        <h1> Stock IA </h1>
        <h2> Converse com a IA sobre o gerenciamento do estoque</h2>
        <input type="text" placeholder="Digite aqui sua pergunta">
        <p> Faça login para obter acesso ao seu estoque, ou registre-se para criar um. </p>
    </main>
    <footer>
        <div id="footer-paragraph">
        <p> O Stock Manager é um sistema de gerenciamento de estoque com integração ao Machine Learning. </p>
        <p> O Stock IA foi treinado com uma base de dados baseada no gerenciamento, portanto, responderá apenas perguntas baseadas no contexto da aplicação. </p>
        </div>
        <div id="footer-assign">
        <p> Desenvolvido por Kauan</p>
        <p> Github: @KauanRTe </p>
        </div>
    </footer>
</body>
</html>